# Data
*.csv
val_daily_stats.csv
cs_daily_stats.csv
val_test.py 
daily_stats.csv

# Secrets & Environment
.env
.streamlit/secrets.toml
__pycache__/
.venv/
service_account.json
.streamlit
# .gitignore
CS2_Tactical_Rules.json
core_rules.json
requirements.txt
miner.py
intel_vault.json
proxy_dir.lock
downloaded_files
debug_cloudflare
daily_sync.yml
CS2_Tactical_Rules
Val_tactical.json
VAL_Tactical_Rules.json